DATABASE_URL="postgresql://neondb_owner:npg_PySt0dKIJBj3@ep-ancient-union-agm7djwm-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET=Todo el mundo suspira en un lugar conocido olvidado
CLOUDINARY_CLOUD_NAME=JLG
CLOUDINARY_API_KEY=286426587336182
CLOUDINARY_API_SECRET=_NQP1qT_UEDKll5ub-F7Xg3bhcM
PORT=4000

ADMIN_EMAIL="sergiomasny@gmail.com"
EMAIL_USER="sergiomasny@gmail.com"
EMAIL_PASS="vkrxwlqzgzkabuwq"